@import "../../../variables";
.spacebar {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  color: $false-black;
  display: flex;
  justify-content: center;
  align-items: center;


  &__spacebutton {
    position: relative;
    display: block;
    border: solid 2px $false-black;
    border-radius: 25px;
    animation: big-spacebar 984ms linear infinite;
    padding-bottom: 10px;

    &:before {
      content: "Espace";
      display: block;
      margin: -2px;
      border: solid 2px $false-black;
      border-radius: 25px;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: 400;
      padding: 1rem 60px;
      height: 100%;

    }
  }

  &.white {
    color: white;

    .spacebar__spacebutton {
      border-color: white;

      &:before {
        border-color: white;
      }
    }
  }
}


@keyframes big-spacebar {
  0% {
    padding-bottom: 10px;
  }
  80% {
    padding-bottom: 0;
  }
  100% {
    padding-bottom: 10px;
  }
}
