.spacebar {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__spacebutton {
    position: relative;
    display: block;
    padding: 10px 60px;
    border: solid 2px white;
    border-radius: 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 200;
    animation: toto 1s linear infinite;

    &:before {
      content: "";
      position: absolute;
      left: -2px;
      right: -2px;
      top: -2px;
      bottom: -10px;
      border: solid 2px white;
      border-radius: 27px;
      animation: tata 1s linear infinite;

    }
  }
}

@keyframes toto {
  0% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tata {
  0% {
    bottom: -10px;
  }
  80% {
    bottom: -2px;
  }
  100% {
    bottom: -10px;
  }
}