.fullscreenButton {
  border: 1px solid white;
  border-radius: 10px;
  background: none;
  line-height: 0;
  svg  {
    color: white;
  }

  &:hover {
    border-color: orange;
    svg {
      color: orange;
    }
  }
}
