@import "../../../variables";

.aboutModal {

  &__openButton {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.2rem;
    border: none;
    background: none;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      right: 0;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s;
    }
    &:hover:after {
      width: 100%;
      left: 0;
      right: inherit;
    }
  }

  &__closeButton {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 2.5rem;
    height: 2.5rem;

    >img:first-child, >img:last-child{
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__wrapper {
    max-width: 50vw;
    font-size: 1.5rem;
  }

  &__team {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    list-style-type: none;
    margin: 1rem 0 0;

    >li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__textBlock {
    margin-top: 1rem;
    display: flex;

    div {
      margin-top: 4rem;
    }

    &:before {
      font-size: 8rem;
      margin-right: -5px;
      color: transparent;
      font-weight: bold;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #aaaaaa;
    }

    &:first-child {
      &:before {
        content: "1";
      }

      &:last-child {
        p {
          margin-top: 1rem;
        }
      }
    }

    &:nth-child(2) {
      &:before {
        content: "2";
      }
    }
  }

  &__thanks {
    margin-top: 3rem;
  }

  &__logos {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 100px max-content 150px;
    grid-gap: 2rem;
    align-items: center;
    text-align: center;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__modal {
    position: fixed;
    background-color: $false-black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  &__footer {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;

    button {
      margin-left: 1.5rem;
    }
  }

  &__title {
    font-family: Selfie, sans-serif;
    font-weight: normal;
    font-size: 8rem;
    text-align: center;
    text-shadow: 0 0 20px white;
  }

  @media screen and (max-width: 900px) {

    &__modal {
      overflow-y: scroll;
      padding: 5rem 0;
      justify-content: flex-start;
      height: auto;
    }

    &__wrapper {
      max-width: 90vw;
    }

    &__footer {
      position: static;
      align-self: flex-end;
      margin-right: 3rem;
    }

    &__logos {
      grid-template-columns: 100px auto 150px;
    }
  }
}
