@import "../../../../variables";

.popup {
  position: fixed;
  border-radius: $border-radius;
  background-color: white;
  padding: $vertical-space $horizontal-space;
  text-align: left;
  display: grid;
  border: solid 1px $light-grey;
  grid-column-gap: $horizontal-space;
  grid-row-gap: $vertical-space;
  grid-template-columns: min-content min-content;
  grid-template-areas:
          "image image"
          "buttonClose buttonCatalog";
  transition: transform 300ms ease-in-out;
  cursor: url($drag-and-drop-cursor), default;

  &.hide {
    display: none;
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    grid-area: image;
    cursor: url($default-cursor-url-levelDown), default;
  }

  &__footer {

    &__buttonClose {
      grid-area: buttonClose;
      white-space: nowrap;
      padding: 10px 5px;
      border: none;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      background: none;

      &:disabled {
        cursor: url($default-cursor-url-levelDown), default;
      }
    }

    &__buttonCatalog {
      grid-area: buttonCatalog;
      white-space: nowrap;
      border: none;
      border-radius: 10px;
      background-color: $yellow;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      color: white;

      animation: shadow-pulse 1s infinite;
      transition: transform 300ms ease-in-out;

      &:disabled {
        animation-duration: 0s;
        cursor: url($default-cursor-url-levelDown), default;

        &:hover {
          transform: scale(1);
        }
      }

      &:hover {
        transform: scale(1.1);
        animation-duration: 0s;
      }
    }
  }
}
