@import "../../../../variables";

.popup {
  position: fixed;
  border-radius: $border-radius;
  background-color: white;
  padding: $vertical-space $horizontal-space;
  text-align: left;
  display: grid;
  grid-column-gap: $horizontal-space;
  grid-row-gap: $vertical-space;
  grid-template-columns: min-content min-content;
  grid-template-areas:
          "image image"
          "buttonClose buttonCatalog";
  transition: transform 300ms ease-in-out;
  cursor: url($drag-and-drop-cursor), default;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &.focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  &.hide {
    display: none;
  }

  &__image {
    width: 100%;
    grid-area: image;
  }

  &__footer {

    &__buttonClose {
      grid-area: buttonClose;
      white-space: nowrap;
      padding: 10px 5px;
      border: none;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      background: none;
    }

    &__buttonCatalog {
      grid-area: buttonCatalog;
      white-space: nowrap;
      border: none;
      border-radius: 10px;
      background-color: $yellow;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      color: white;

      animation: shadow-pulse 1s infinite;
      transition: background-color 300ms;

      &:hover {
        background-color: $green;
        animation: shadow-pulse-hover 1s infinite;
      }
    }
  }
}
