
$yellow: #ffdf70;

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-regular.ttf");
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-boldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Selfie;
  src: url("../../assets/fonts/Selfie/Selfie_Regular.otf");
}

@font-face {
  font-family: Selfie;
  src: url("../../assets/fonts/Selfie/Selfie_Black.otf");
  font-weight: bold;
}

@font-face {
  font-family: Selfie;
  src: url("../../assets/fonts/Selfie/Selfie_Light.otf");
  font-weight: 100;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Brown, sans-serif;
  user-select: none;
}
html {
  font-size: 62.5%;
  cursor: url(../../assets/img/cursor_default.svg), default;
}
body {
  background: $yellow;
}
button, a {
  cursor: url(../../assets/img/cursor_pointer.svg), pointer;
}
#app {
  position: relative;
  background: $yellow;
  transition: background 1s;
  width: 100vw;
  height: 100vh;

  &.happy {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 2s ease 1;
  }

  &.attic {
    background: black;
    background-size: 100%;
    animation-duration: 0s;
  }
}

.catalog-enter {
  opacity: 0;
  transform: translateY(10%);
}

.catalog-enter.catalog-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.catalog-leave {
  opacity: 1;
  transform: translateY(0);
}

.catalog-leave.catalog-leave-active {
  opacity: 0;
  transform: translateY(10%);
  transition: all 500ms ease-in;
}

.grow-enter {
  transform: scale(0);
}

.grow-enter.grow-enter-active {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.grow-leave {
  transform: scale(1);
}

.grow-leave.grow-leave-active {
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
