@import "../../variables";

@keyframes Gradient {
  0% {
    background-position: 100% 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-regular.ttf");
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-boldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Brown;
  src: url("../../assets/fonts/Brown/lineto-brown-light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Selfie;
  src: url("../../assets/fonts/Selfie/Selfie_Regular.otf");
}

@font-face {
  font-family: Selfie;
  src: url("../../assets/fonts/Selfie/Selfie_Black.otf");
  font-weight: bold;
}

@font-face {
  font-family: Selfie;
  src: url("../../assets/fonts/Selfie/Selfie_Light.otf");
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  font-family: Brown, sans-serif;
  user-select: none;
}

html {
  font-size: 62.5%;
  cursor: url(../../assets/img/cursor_default.svg) 10 0, default;
}

body {
  background: $yellow;
}

button, a {
  cursor: url(../../assets/img/cursor_pointer.svg) 16 0, pointer;
}

#app {
  position: relative;
  background: $yellow;
  transition: background 1s;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;

  .catalogWrapper {
    display: block;
    margin-left: 5vw;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #e73c7e, #23a6d5);
    background-size: 1000% 1000%;
    animation: Gradient 3s linear infinite;
    z-index: 0;
    transition: opacity 1s;
  }

  &.happy:before {
    opacity: 1;
    z-index: 0;
  }

  &.attic {
    background: black;
    background-size: 100%;

    &:after {
      position: absolute;
      top: 3rem;
      right: 3rem;
      display: block;
      content: url("../../assets/img/pause.svg");
    }
  }
  &.attic:before {
    opacity: 0;
  }
}

.game__footer {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  z-index: 2;

  button {
    background: none;
    border: none;
    margin-left: 1.5rem;

    &:first-child {
      margin-left: 0;
    }

    svg {
      color: white;

      &:hover {
        color: black;
      }
    }
  }
}
