$pointer-url: "../../../../assets/img/cursor_pointer.svg";
$light-grey: #FAFAFA;

@keyframes tuto-pulse
{
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.glow {
  animation: tuto-pulse 1s infinite;
}

.emptySpace {
  opacity: 1;
  transition: opacity 500ms linear;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-grey;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: url($pointer-url), pointer;
    transition: background-color 0.1s;

    &:hover {
      background-color: orange;
    }
  }

  span {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: 100;
    line-height: 24px;
    text-align: center;
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
