@import "../../../variables";

.message {
  position: fixed;
  background-color: white;
  border-radius: 15px;
  padding: 20px 15px;
  font-size: 1.5rem;
  left: 10vw;
  top: 10vh;
  max-width: 25vw;
  border: solid 1px #E6E6E6;
  animation: appear 0.5s forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__typing {
    margin: 0 auto;
    line-height: 2rem;

    &.withSpacebar {
      padding-bottom: calc(1.2rem + 7px);
    }
  }

  .spacebar {
    position: absolute;
    right: 5px;
    bottom: 15px;
    color: $false-black;
    width: auto;

    &__spacebutton {
      position: relative;
      display: block;
      padding: 2px 15px;
      border: solid 2px $false-black;
      border-radius: 15px;
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 400;
      animation: space-translate 1s linear infinite;

      &:before {
        content: "";
        position: absolute;
        left: -2px;
        right: -2px;
        top: -2px;
        bottom: -5px;
        border: solid 2px $false-black;
        border-radius: 13px;
        animation: space-bottom 1s linear infinite;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(-2px);
  }
}

@keyframes up-down {
  0% {
    opacity: 0.1;
    transform: translateY(-2px);
  }
  90% {
    opacity: 1;
    transform: translateY(2px);
  }
  100% {

    opacity: 0.1;
    transform: translateY(-2px);
  }
}
