@import "../../../variables";

.message {
  position: fixed;
  background-color: white;
  border-radius: 15px;
  padding: 20px 15px;
  font-size: 1.5rem;
  left: 10vw;
  top: 10vh;
  max-width: 25vw;
  border: solid 1px #E6E6E6;
  animation: appear 0.5s forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__typing {
    margin: 0 auto;
    line-height: 2rem;

    &.withSpacebar {
      padding-bottom: calc(1.2rem + 7px);
    }
  }

  .spacebar {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: block;
    width: auto;
    border: solid 1px $false-black;
    border-radius: 11px;
    padding-bottom: 5px;
    animation: mini-spacebar 984ms linear infinite;

    &:before {
      content: "Espace";
      display: block;
      margin: -1px;
      height: 100%;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: 400;
      padding: 2px 15px;
      color: $false-black;

      border: solid 1px $false-black;
      border-radius: 10px;
    }
  }

}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(-2px);
  }
}

@keyframes mini-spacebar {
  0% {
    padding-bottom: 5px;
  }
  20% {
    padding-bottom: 0;
  }
  100% {
    padding-bottom: 5px;
  }
}
