@import "../../../variables";

@keyframes tileAppear {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes playMeanLittleX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(1792px/1.6);
  }
}

@keyframes playMeanLittleY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(2304px/1.6);
  }
}

@keyframes playMeanX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1792px;
  }
}

@keyframes playMeanY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -2304px;
  }
}


.badEndScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
  transition: top 0.5s;

  .pipo {
    position: absolute;
    z-index: 10;
    background: url('../../../assets/img/Pipo-Evil-0203.png') left top no-repeat;

    &.little {
      width: 160px;
      height: 160px;
      background-size: (1792px/1.6) (2304px/1.6);
      animation: playMeanLittleX 0.33s steps(7) infinite, playMeanLittleY 2.97s steps(9) infinite;
    }

    &.big {
      width: 256px;
      height: 256px;
      background-size: 1792px 2304px;
      animation: playMeanX 0.33s steps(7) infinite, playMeanY 2.97s steps(9) infinite;
    }

    &:nth-child(1) {
      position: absolute;
      top: 50vh;
      left: 20vw;
    }

    &:nth-child(2) {
      position: absolute;
      top: 5vh;
      left: 5vw;
      filter: blur(2px);
    }

    &:nth-child(3) {
      position: absolute;
      top: 25vh;
      left: 30vw;
    }

    &:nth-child(4) {
      position: absolute;
      bottom: 5vh;
      right: 10vw;
    }

    &:nth-child(5) {
      position: absolute;
      right: 5vw;
      top: 5vh;
      filter: blur(2px);
    }

    &.right {
      transform: scaleX(-1);
    }
  }

  section {
    width: 100%;
    height: 100vh;
  }

  &__section {
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  button {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
    animation: tileAppear 0.3s ease-in-out 480ms 1 normal forwards;
  &.main {
    border: none;
    background-color: $yellow;
    color: white;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    transition: background-color 300ms;

    &:hover {
      background-color: $green;
    }
  }

  &.light {
    padding: 10px 5px;
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    background: none;
    margin-right: 5rem;
  }
}

&__bubble {
  background-color: white;
  box-shadow: 0 0 20px white;
  border-radius: 50%;
  width: 70vh;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-shrink: 0;
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  animation: tileAppear 0.3s ease-in-out 100ms 1 normal forwards;

  &__title {
    font-family: Selfie, sans-serif;
    font-weight: 400;
    font-size: 10rem;
    line-height: 6rem;
    margin-bottom: 4rem;
    color: $red;
    opacity: 0;
    transform: translateY(10px) scale(0.95);
    animation: tileAppear 0.3s ease-in-out 300ms 1 normal forwards;
  }

  &__text {
    display: block;
    font-size: 1.5rem;
    word-wrap: break-word;
    max-width: 50vh;
    margin-bottom: 3rem;
    opacity: 0;
    transform: translateY(10px) scale(0.95);
    animation: tileAppear 0.3s ease-in-out 390ms 1 normal forwards;
  }
}

}
