@import "../../../variables";
$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
  random($width)-$width/2 + px
  random($height)-$height/1.2 + px
  #fff;
  $box-shadow2: $box-shadow2, 0 0 #fff
}

.pyro {

  > .before {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
  }

  > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
  }

  &.anim {
    > .before, > .after {
      animation: 750ms bang ease-out infinite backwards;
      animation-delay: 750ms, 750ms, 750ms, 750ms;
    }
  }
}

@keyframes bang {
  to {
    box-shadow:$box-shadow;
  }
}

.gameIndicator {
  position: fixed;
  top: 0;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__word {
    display: block;
    margin-bottom: -10px;

    >img {
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
      width: 140px;
    }
  }

  .jauge {
    position: relative;
    border: 6px solid white;
    background: white;
    width: 75px;
    height: 40vh;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    margin-bottom: -120px;
    transition: filter 0.3s linear;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .level {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: #ffe13d;
      transition: height 1s linear, background 0.3s linear;
    }
    .wave {
      position: absolute;
      display: block;
      top: -10px;
      background-image: url("../../../assets/img/wave.svg");
      background-size: auto;
      background-repeat: repeat-x;
      width: 100%;
      height: 13px;
      transition: transform 0.5s linear, animation-duration 1s linear;
      animation: moveBackground 2s linear infinite;
      transform-origin: bottom center;
      transform: scaleY(1);
    }
    &.anim {
      .wave {
        transform: scaleY(2);
        animation-duration: 0.5s;
      }

    }

    svg {
      position: absolute;
      width: 100%;
      transition: top 0.5s;
    }
  }
}

@keyframes playX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(2560px/1.6);
  }
}

@keyframes playY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(3840px/1.6);
  }
}

@keyframes playXNo {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(1792px/1.6);
  }
}

@keyframes playYNo {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(2880px/1.6);
  }
}

.pipo {
  z-index: 10;
  width: 160px;
  height: 200px; //320
  background: url('../../../assets/img/Pipo-Idle-4000.png') left top no-repeat;
  background-size: (2560px/1.6) (3840px/1.6);
  animation: playX 0.33s steps(10) infinite, playY 3.96s steps(12) infinite;

  &.happy {
    background: url('../../../assets/img/Pipo-Happy-0203.png') left top no-repeat;
    background-size: (1792px/1.6) (2880px/1.6);
    animation: playXNo 0.33s steps(7) 9 forwards, playYNo 2.97s steps(9) 1 forwards;
  }

  &.angry {
    background: url('../../../assets/img/Pipo-Upset-0220.png') left top no-repeat;
    background-size: (2048px/1.6) (3200px/1.6);
    animation: playXAngry 0.33s steps(8) 10 forwards, playYAngry 3.30s steps(10) 1 forwards;
  }

  &.yes {
    background: url('../../../assets/img/Pipo-Idle_Yes-0156.png') top left no-repeat;
    background-size: (1792px/1.6) (2560px/1.6);
    animation: playXYes 0.195s steps(7) 8, playYYes 1.56s steps(8) 1;
  }

  &.no {
    background: url('../../../assets/img/Pipo-Idle_No-0203.png') top left no-repeat;
    background-size: (1792px/1.6) (2880px/1.6);
    animation: playXNo 0.33s steps(7) 9, playYNo 2.97s steps(9) 1;
  }
}

@keyframes playXAngry {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(2048px/1.6);
  }
}

@keyframes playYAngry {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(3200px/1.6);
  }
}

@keyframes playXYes {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(1792px/1.6);
  }
}

@keyframes playYYes {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(2560px/1.6);
  }
}

@keyframes moveBackground {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
