@import "../../../variables";
$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
  random($width)-$width/2 + px
  random($height)-$height/1.2 + px
  #fff;
  $box-shadow2: $box-shadow2, 0 0 #fff
}

.pyro {

  > .before {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
  }

  > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    animation-delay: 725ms, 725ms, 725ms;
    animation-duration: 725ms, 725ms, 5.75s;
  }

  &.anim {
    > .before, > .after {
      animation: 500ms bang ease-out infinite backwards, 500ms gravity ease-in infinite backwards;
    }
  }
}

@keyframes bang {
  to {
    box-shadow:$box-shadow;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    opacity: 0;
  }
}

.gameIndicator {
  position: fixed;
  top: 0;
  right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__word {
    font-family: Selfie, sans-serif;
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-align: center;
    transform-origin: center;
  }





  .jauge {
    position: relative;
    border: 6px solid white;
    background: white;
    width: 75px;
    height: 40vh;
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    margin-bottom: -55px;
    transition: filter 0.3s linear;

    .level {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: red;
      transition: height 1s linear, background 0.3s linear;
    }
    .wave {
      position: absolute;
      display: block;
      top: -10px;
      background-image: url("../../../assets/img/wave.svg");
      background-size: auto;
      background-repeat: repeat-x;
      width: 100%;
      height: 10px;
      transition: transform 1s linear, animation 1s linear;
      animation: moveBackground 2s linear infinite;
      transform-origin: bottom center;
    }
    &.anim {
      .wave {
        transform: scaleY(5);
        animation-duration: 0.5s;
      }

    }

    svg {
      position: absolute;
      margin-top: -40px;
      width: 100%;
      transition: top 0.5s;
    }
  }
}

.pipo {
  z-index: 10;
  width: 128px;
  height: 128px;
  //transition: transform 5ms linear;
  background: url('../../../assets/img/Pipo-Idle.png') left top no-repeat;
  background-size: (2560px/2) (3072px/2);
  animation: playX 0.33s steps(10) infinite, playY 3.96s steps(12) infinite;

  &.happy {
    //do not make this infinite
  }

  &.sad {
    //do not make this infinite
  }

  &.yes {
    background: url('../../../assets/img/Pipo-Yes.png') left center;
    background-size: (2048px/2) (1792px/2);
    animation: playXYes 0.28s steps(8) infinite, playYYes 1.96s steps(7) infinite;

  }

  &.no {
    background: url('../../../assets/img/Pipo-No.png') left center;
    background-size: (2048px/2);
    animation: playXNo 0.33s steps(8) infinite, playYNo 1.98s steps(6) infinite;
  }
}

@keyframes playXYes {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(2048px/2);
  }
}

@keyframes playYYEs {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(1792px/2);
  }
}

@keyframes playXNo {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(2048px/2);
  }
}

@keyframes playYNo {
  from {
    background-position-y: -(512px/2);
  }
  to {
    background-position-y: -(2048px/2);
  }
}

@keyframes playX {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -(2560px/2);
  }
}

@keyframes playY {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -(3072px/2);
  }
}

@keyframes moveBackground {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}
