.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 500ms linear;
  position: relative;

  &.animated {
    &:after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      animation: tuto-pulse 1s ease infinite;
    }
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}
