$false-black: #272727;
$light-grey: #FAFAFA;
$yellow: #FFE07D; //$yellow: #FFD832; //$yellow: #ffd764;
$green: #54eebc;
$red: crimson;

$border-radius: 15px;
$vertical-space: 1.5rem;
$horizontal-space: 2rem;

$pointer-url: "../../../assets/img/cursor_pointer.svg";
$default-cursor-url: "../../../assets/img/cursor_default.svg";
$pointer-url-levelDown: "../../../../assets/img/cursor_pointer.svg";
$default-cursor-url-levelDown: "../../../../assets/img/cursor_default.svg";
$drag-and-drop-cursor: "../../../../assets/img/cursor_drag_drop.svg";

@keyframes scale {
  0% {
    transform: scaleX(1.5) scaleY(0.5) rotate(-30deg);
  }
  25% {
    transform: scaleX(1) scaleY(1) rotate(0);
  }
  50% {
    transform: scaleX(1.5) scaleY(0.75) rotate(30deg);
  }
  75% {
    transform: scaleX(1) scaleY(1) rotate(0);
  }
  100% {
    transform: scaleX(1.5) scaleY(0.5) rotate(-30deg);
  }
}



@keyframes tuto-pulse
{
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.catalog-enter {
  opacity: 0;
  transform: translateY(10%);
}

.catalog-enter.catalog-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.catalog-leave {
  opacity: 1;
  transform: translateY(0);
}

.catalog-leave.catalog-leave-active {
  opacity: 0;
  transform: translateY(10%);
  transition: all 500ms ease-in;
}

.grow-enter {
  transform: scale(0);
}

.grow-enter.grow-enter-active {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.grow-leave {
  transform: scale(1);
}

.grow-leave.grow-leave-active {
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
